.ContactData {
	margin: 20px auto;
	padding: 20px;
	width: 80%;
	text-align: center;
	border: 4px #ccc;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.ContactData form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 600px) {
	.ContactData {
		width: 500px;
	}
}
